<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LiteDbExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="UpdateUrl" value="https://raw.githubusercontent.com/julianpaulozzi/LiteDbExplorer/master/web/update.json" />
    <add key="IssuesUrl" value="https://github.com/julianpaulozzi/LiteDbExplorer/issues" />
    <add key="ReleasesUrl" value="https://github.com/julianpaulozzi/LiteDbExplorer/releases" />
    <add key="HomepageUrl" value="https://github.com/julianpaulozzi/LiteDbExplorer" />
    <add key="PipeEndpoint" value="net.pipe://localhost/LiteDBExplorerPipe" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <LiteDbExplorer.Properties.Settings>
      <setting name="ShowStartPageOnOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowStartOnCloseAll" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CollectionExplorer_SplitOrientation" serializeAs="String">
        <value>Horizontal</value>
      </setting>
      <setting name="CollectionExplorer_ShowPreview" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CollectionExplorer_ContentMaxLength" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="CollectionExplorer_DoubleClickAction" serializeAs="String">
        <value>EditDocument</value>
      </setting>
      <setting name="DocumentPreview_SplitOrientation" serializeAs="String">
        <value>Vertical</value>
      </setting>
      <setting name="DocumentPreview_ContentMaxLength" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="UpdateManager_LastCheck" serializeAs="String">
        <value />
      </setting>
    </LiteDbExplorer.Properties.Settings>
  </userSettings>
</configuration>
