<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="UpdateUrl" value="https://raw.githubusercontent.com/julianpaulozzi/LiteDbExplorer/master/web/update.json"/>
    <add key="IssuesUrl" value="https://github.com/julianpaulozzi/LiteDbExplorer/issues"/>
    <add key="ReleasesUrl" value="https://github.com/julianpaulozzi/LiteDbExplorer/releases"/>
    <add key="HomepageUrl" value="https://github.com/julianpaulozzi/LiteDbExplorer"/>
    <add key="PipeEndpoint" value="net.pipe://localhost/LiteDBExplorerPipe"/>
  </appSettings>
</configuration>
